<div class="container">
    <h1>{{markdownFile.meta.title}}</h1>

    {{{markdownFile.parsedContent}}}
    
    <footer>
        <hr />
        <strong>Created:</strong> {{markdownFile.created}}
    </footer>
</div>
