<div class="container">
    <em>This sample is using preParse option specified as a function</em>

    <h1>{{title}}</h1>

    {{{content}}}
    
    <footer>
        <hr />
        <strong>Created:</strong> {{created}}
    </footer>
</div>
